### Analysis of the scraped data

#### Fossil fuel data cleaning and aggregating (all in thousands of megawatthours)

 - Fossil and renewable energy data both show net generation per month, by energy source
 - See Spider files for exactly what is included under each heading

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
import re
import plotly
plotly.offline.init_notebook_mode(connected=True)
import plotly.graph_objs as go

In [2]:
old_fossil_data_path = Path("fossil_energy_old/FossilEnergyOld.csv")
fossil_fuel_generation = pd.read_csv(old_fossil_data_path, index_col = 4)

In [3]:
new_fossil_data_path = Path("fossil_energy_new/FossilEnergyNew.csv")
fossil_fuel_generation = fossil_fuel_generation.append(pd.read_csv(new_fossil_data_path, index_col = 4))

In [4]:
fossil_fuel_generation.drop_duplicates(inplace = True)

In [5]:
fossil_fuel_generation.shape

(49, 6)

In [6]:
fossil_fuel_generation.dtypes

coal             int64
natural_gas      int64
nuclear          int64
other_gas        int64
petro_coke       int64
petro_liquids    int64
dtype: object

In [7]:
# Following Plot.ly example for filled area plot, altering xticks and adding chart title and axis labels
x = fossil_fuel_generation.index.tolist()
linewidth = 0.75
coal = dict(x=x, y=fossil_fuel_generation['coal'].tolist(), hoverinfo='x+y', mode='lines',\
            line=dict(width=linewidth, color = '#6b81a9'), stackgroup='one', name='Coal')
petroleum = dict(x=x, y=(fossil_fuel_generation['petro_coke']+fossil_fuel_generation['petro_liquids']).tolist(), \
                 hoverinfo='x+y', mode='lines', line=dict(width=linewidth, color = '#a57298'), name='Petroleum', stackgroup='one')
gas = dict(x=x, y=(fossil_fuel_generation['natural_gas']+fossil_fuel_generation['other_gas']).tolist(), \
                 hoverinfo='x+y', mode='lines', line=dict(width=linewidth, color = '#9f9ebf'), name = 'Gas', stackgroup='one')
nuclear = dict(x=x, y=fossil_fuel_generation['nuclear'].tolist(), hoverinfo='x+y', mode='lines',\
            line=dict(width=linewidth, color = '#325d8d'), name = 'Nuclear', stackgroup='one')

data=[gas, coal, nuclear, petroleum]

labels = ['January 2015', 'January 2016','January 2017','January 2018','January 2019']
tickvals = ['January 2015', 'January 2016','January 2017','January 2018','January 2019']

layout = dict(title = 'Monthly fossil fuel generation',
              xaxis=go.layout.XAxis(ticktext=labels,tickvals=tickvals, title='Month', tickangle=20),
              yaxis = dict(title = '000\'s of megawatt hours', exponentformat='e'),
              shapes = [{ 'type':'line', 'x0':'20 January 2017', 'y0':0, 'x1':'20 January 2017', 'y1':350000, \
                            'line':dict(color = '#ff0000', width = 1, dash = 'dashdot')}])
fig=dict(data=data, layout=layout)
plotly.offline.iplot(fig)

Looks as if there is an annual pattern in the above data - Lets split it before and after Trump was inaugurated, and see if there has been a change in the monthly averages

In [8]:
pre_trump = fossil_fuel_generation.loc['January 2015':'January 2017']

In [9]:
post_trump = fossil_fuel_generation.loc['February 2017':]

In [ ]:
#pre_trump['month'] = pre_trump[['period']].apply(lambda x: re.sub('[\d\s]','',x), axis = 0)

In [10]:
pre_trump

,coal,natural_gas,nuclear,other_gas,petro_coke,petro_liquids
period,,,,,,
January 2015,132451,101687,74270,1246,1046,1927
February 2015,126977,91315,63461,1025,1100,5221
March 2015,108488,99423,64547,1091,717,1061
April 2015,88989,92806,59784,979,809,919
May 2015,104585,101516,65827,1099,922,1017
June 2015,125673,121478,68516,1118,821,1040
July 2015,139100,141119,71412,1235,1103,1201
August 2015,134670,139084,72415,1196,1040,1093
September 2015,117986,123036,66476,1210,1028,1006
October 2015,96759,110005,60571,906,827,945
November 2015,87227,102236,60264,902,715,995
December 2015,89495,109777,69634,1110,749,948
January 2016,113459,110044,72525,1195,966,1396
February 2016,92705,98552,65638,1062,910,1299
March 2016,72173,103890,66149,1197,927,874
April 2016,72113,98876,62732,1132,1006,833
May 2016,81695,110430,66576,1053,974,984
June 2016,116034,131395,67175,1043,1005,972
July 2016,136316,151554,70349,1077,1049,1273
August 2016,135635,154760,71526,1064,1078,1258
September 2016,114138,125603,65448,1020,980,946
October 2016,99194,102898,60733,913,635,937
November 2016,86940,93942,65179,1013,799,1070
December 2016,118747,96364,71662,1037,869,1166
January 2017,115333,95473,73121,1046,944,1121

In [11]:
post_trump

,coal,natural_gas,nuclear,other_gas,petro_coke,petro_liquids
period,,,,,,
February 2017,86822,82694,63560,977,723,874
March 2017,89365,95022,65093,1060,699,950
April 2017,81335,88418,56743,1001,431,846
May 2017,92777,98067,61313,1055,847,971
June 2017,107508,117317,67011,992,901,1001
July 2017,127697,146994,71314,1048,889,916
August 2017,119488,141209,72384,1134,765,970
September 2017,98203,118112,68098,1060,712,925
October 2017,89775,106852,65995,999,572,956
November 2017,90986,94883,66618,1001,755,903
December 2017,106546,111373,73700,1096,737,1982
January 2018,118939,110046,74649,994,952,5291
February 2018,81922,96002,64790,990,738,780
March 2018,80612,104933,67033,1064,648,811
April 2018,73383,99446,59133,940,691,854
May 2018,85311,116107,67320,1000,415,1022
June 2018,101509,130823,69688,1010,765,1062
July 2018,115477,167250,72456,1105,922,970
August 2018,115216,162377,72282,1225,873,1041
Sept 2018,96742,142772,64725,1001,835,1039
October 2018,87452,124171,59397,930,484,989
November 2018,93005,107109,63948,933,699,952
December 2018,96825,106978,71657,998,807,930
January 2019,101019,118935,73701,994,820,1316